body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.bg-blue-500 {
    background-color: #007BFF;
}

.text-blue-500 {
    color: #007BFF;
}

.bg-green-500 {
    background-color: #28A745;
}

.text-green-500 {
    color: #28A745;
}

.bg-gray-100 {
    background-color: #F8F9FA;
}

.bg-gray-800 {
    background-color: #343A40;
}

.text-gray-800 {
    color: #343A40;
}

.text-gray-700 {
    color: #495057;
}

.hover\:underline:hover {
    text-decoration: underline;
}
